[submodule "mobile"]
	path = mobile
	url = https://github.com/DavidSolomon22/plant-check-mobile.git
[submodule "server"]
	path = server
	url = git@github.com:DavidSolomon22/plant-check-server.git
[submodule "ai"]
	path = ai
	url = git@github.com:DavidSolomon22/plant-check-ai.git
[submodule "image-scraper"]
	path = image-scraper
	url = https://github.com/DavidSolomon22/plant-check-image-scraper.git
